# ignore everything …
*
# except the following folders
# (list of all source folders in build)
!build
!build/*
!build/src/*
!build/src/common/*

# reinstate standard ignore
.DS_Store

# build results
build/logappend
build/logread

# test files
build/log1
build/FFCDPVXY
